<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feira</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Bem-vindo à Feira</h1>
            <p>Por favor, faça login ou crie uma conta.</p>
        </header>

        <div class="buttons">
            <a href="/login" class="btn">Entrar</a>
            <a href="/register" class="btn outline">Criar Conta</a>
            <a id="changeBgButton" class="btn outline">Mudar Background</a>
        </div>
    </div>
</body>
</html>